<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect root requests to the public directory if not already there
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/ [L]
</IfModule>
